body,
html {
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --yellow-dark: #ffb020;
  --yellow-light: #ffd24d;
  --icon-email: url("https://cdn-icons.flaticon.com/png/512/2723/premium/2723712.png?token=exp=1636656591~hmac=8d86ef1d68c30221d1a81914de9d5eb5");
  --icon-password: url("https://cdn-icons-png.flaticon.com/512/3596/3596115.png");
}

body {
  color: #051226;
  margin: 0;
  padding: 0;

  background: linear-gradient(
    to right,
    var(--yellow-light) 25%,
    var(--yellow-dark) 75%,
    white 75%
  );
}

.inner-container {
  display: flex;
  position: absolute;
  align-items: center;
  height: 60%;
  top: 15%;
  width: 85%;
  left: 10%;
  right: 5%;
}

.img-responsive {
  width: 50%;
}

.responsive-box {
  background-color: #ffffff;
  height: 80%;
  width: 50%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.form-title {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 18px;
}

.form-title-mobile {
  display: none;
}

.form-box {
  width: 80%;
  height: 50%;
  background-color: white;
  text-align: center;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box input[type="email"] {
  border-radius: 10px;
  background: none;
  border: 1px solid gray;
  display: block;
  height: 15%;
  width: 75%;
  padding-left: 15%;
  background-image: var(--icon-email);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 3% 50%;
}

.form-box input[type="password"] {
  border-radius: 10px;
  background: none;
  border: 1px solid gray;
  display: block;
  margin: 3% 3%;
  height: 15%;
  width: 75%;
  padding-left: 15%;
  background-image: var(--icon-password);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 3% 50%;
}

.form-box button[type="submit"] {
  border-radius: 10px;
  border: 1px solid gray;
  background: linear-gradient(to left, #ffb020, #ffd24d);
  font-weight: bold;
  height: 17%;
  width: 92%;
}

a {
  margin-top: 10px;
  font-size: 14px;
  color: var(--yellow-dark);
  text-decoration: none;
}

p {
  margin-top: 20px;
}

.p-form-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;

    background: linear-gradient(
      to right,
      var(--yellow-light) 50%,
      var(--yellow-dark)
    );
  }
  .form-title-mobile {
    display: inline-block;
    margin-top: 10%;
    font-size: 20px;
  }

  .inner-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 0%;
    right: 0%;
    top: 10%;
    height: 70%;
    width: 99%;
  }

  .img-responsive {
    width: 90%;
  }
  .responsive-box {
    height: 50%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form-box {
    position: absolute;
  }

  .form-title {
    display: none;
  }

  .p-form {
    display: none;
  }

  .other {
    position: fixed;
    width: 105%;
    top: 70%;
    height: 30%;
    text-align: center;
    background-color: white;
    z-index: -1;
  }

  .p-form-mobile {
    position: relative;
    display: inline-block;
    top: 65%;
  }

  a {
    font-size: 16px;
  }
}
